*.py[cod]
.DS_Store
__pycache__/
*.py[cod]
*.class
db.sqlite3
*.pyo
*.mo
*~
.coverage
uwsgi.ini
log/**
!log/placeholder
media/**
!media/**/init.txt
**/migrations/**
!**/migrations
!**/migrations/__init__.py